body{
	margin: 0;
	padding: 0;
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
}
input[type=submit] {
    width: 70%;
    background-color: #4CAF50;
    color: black;
    padding: 05px 05px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    font-family: roman;
    font-weight: 33px;
}

input[type=submit]:hover {
    background-color: #45a049;
}
input[type=number],input[type=varchar],input[type=password],input[type=email]{
    width: 80%;
    padding: 14px 12px;
    margin: 8px 0;
    display: inline-block;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 12px;
}

.panel{
	width: 300px;
	height: 440px;
	border:0px;
	background:rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	padding-top: 50px;
	transition: 1s;

}

